<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
      <ion-title>
        Control Panel
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-content>
            <ion-card-header text-center>
              Please select a light to turn on/off
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" align-self-center>
          <ion-button expand=block shape="round" size="large" color={{stateRoom1}} id="btn-light-room-1" (click)=onLightRoom1()>
              <ion-icon slot="start" name="bulb" ></ion-icon>Room 1</ion-button>
          <ion-button   expand=block shape="round" size="large" color={{stateRoom2}} id="btn-light-room-2" (click)=onLightRoom2()>
              <ion-icon slot="start" name="bulb" ></ion-icon>Room 2</ion-button>
          <ion-button  expand=block  shape="round" size="large" color={{stateDiner}} id="btn-light-diner" (click)=onLightDiner()>
              <ion-icon slot="start" name="bulb" ></ion-icon>Diner  </ion-button>
          <ion-button   expand=block shape="round" size="large" color={{stateKitchen}} id="btn-light-kitchen" (click)=onLightKitchen()>
            <ion-icon slot="start" name="bulb" ></ion-icon>Kitchen</ion-button>

          <ion-button   expand=block shape="round" size="large" color={{stateLivingRoom}} id="btn-light-living-room" (click)=onLightLivingRoom()>
            <ion-icon slot="start" name="bulb" ></ion-icon>Living Room</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-content>
            <ion-card-header text-center>
              Door states
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row justify-content-left>
      <ion-col size-md="1" offset-md="5.5">
        <ion-label color="primary">Door 1</ion-label>
        <ion-img src={{stateDoor1}}></ion-img>
        <ion-label color="primary">Door 2</ion-label>
        <ion-img src={{stateDoor2}}></ion-img>
        <ion-label color="primary">Door 3</ion-label>
        <ion-img src={{stateDoor3}}></ion-img>
        <ion-label color="primary">Door 4</ion-label>
        <ion-img src={{stateDoor4}}></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-content>
              <ion-card-header text-center>
                Webcam photo
              </ion-card-header>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">

          <ion-button expand="block" shape="round" size="large" color="success" id="btn-garden-photo" (click)=onGardenPhoto()>
              <ion-icon slot="start" name="camera" ></ion-icon>Garden Photo</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-content>
  